.about
    padding-top: 17px
    padding-bottom: 40px
    background: linear-gradient(90deg, rgba(1,76,72,1) 0%, rgba(2,15,21,1) 74%)
    position: relative
    z-index: 1
    &_nav
        display: flex
        justify-content: space-between
        align-items: flex-start
        position: relative
        z-index: 1
        &_items
            display: flex
            justify-content: space-between
            width: 50%
            list-style: none
            margin: 9px 0 0 0
            padding: 0
            a
                text-decoration: none
                color: #fff
                transition: 0.2s all
                &:hover
                    color: #08726d
                    text-decoration: underline
    &_info
        margin-top: 145px
        display: flex
        &_text_block
            width: 45%
        &_title
            color: #fff
            font-family: Libre Baskerville
            font-size: 38px
            line-height: 44px
            letter-spacing: 1.2px
        &_subtitle
            color: #fff
            margin-top: 30px
            font-family: Public Sans
            font-size: 18px
            line-height: 28px
        &_btn
            color: #fff
            margin-top: 30px
            border-radius: 80px
            border: 1px solid rgba(255, 255, 255, 0.30)
            background-color: transparent
            width: 208px
            height: 54px
            text-align: center
            line-height: 3
            transition: 0.2s all
            &:hover
                background-color: #03615d
        &_img
            position: absolute
            top: 5%
            height: 95%
            z-index: 0
            &_block
                width: 550px
    &_trusted
        position: relative
        z-index: 1
        &_title
            margin-top: 120px
            color: #FFF
            font-family: Public Sans
            font-size: 15px
            line-height: 24px
        &_states
            display: flex
            justify-content: space-between
            &_item
                margin-top: 15px
                min-width: 165px
                &_divider
                    background-color: rgba(255, 255, 255, 0.60)
                    height: 1px
                &_city
                    margin-top: 15px
                    color: #FFF
                    font-family: Public Sans
                    font-size: 15px
                    line-height: 24px

.about_second
    &_wrapper
        padding: 0 200px 115px 200px
    &_title
        margin-top: 120px
        color: #003331
        text-align: center
        font-family: Libre Baskerville
        font-size: 30px
        line-height: 38px
        letter-spacing: 1.2px
    &_info
        margin-top: 57px
        display: flex
        justify-content: space-between
        &_item
            width: 120px
            &_number
                width: 48px
                height: 48px
                border-radius: 100%
                background-color: #014C48
                text-align: center
                margin: 0 auto
                font-size: 16px
                line-height: 48px
                color: #fff
            &_text
                margin-top: 20px
                color: rgba(53, 83, 98, 0.80)
                text-align: center
                font-family: Public Sans
                font-size: 15px
                line-height: 24px
            &_divider
                flex: 1
                height: 1px
                background-color: rgba(53, 83, 98, 0.20)
                margin-top: 40px